.color-button-navbar {
  background-color: #2395ff;
}
.color-search-navbar {
  background-color: #f5f5f5;
}
.color-hover-border {
  border-color: #2395ff;
}
.border-custom {
  border-color: #2395ff;
}
