.custom-background{
    background-color: #2395FF;
}
.custom-color{
    color: #2395FF;
}

.background-waiting {
    background-color: #FF7F23;
}
.background-issued {
    background-color: #4FCF4D;
    ;
}